<!--Display an image, name, description and tagline.-->
<div class="beerPartial">
  <p>{{ name }}</p>
  <img class="beerImage" src="{{image_url}}">
  <p>{{ description }}</p>
  <p>{{ tagline }}</p>
</div>
