
<section class="container">
  <div class="contentBeers">
    <div class="allBeers">
      {{#each beersFromApi}}

        <div class="singleBeer" >
          {{> beerpartial}}
        </div>
      {{/each}}
      
    </div>    
  </div>
    
  
      

</section>

